################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/MvcMovie/bin/Debug/net5.0
/MvcMovie/.vs/MvcMovie/config
/MvcMovie/Properties
/MvcMovie/Views/HelloWorld/Index.cshtml
/MvcMovie/obj
/RazorPagesMovie/obj/Release/net5.0
